quarkus:
  http:
    enable-compression: true
    test-port: 8082
  container-image:
    image: local/alertmanager-jira
  native:
    resources:
      includes: '*.json'

  log:
    category:
      "info.hubbitus":
        level: DEBUG

    sentry:
      # Disabled until DSN will be created
      ~: true
      debug: false
      level: WARN
      traces-sample-rate: 1
      in-app-packages: ru.gid.tracker
      # dsn:

jira:
  URL: https://jira-lab.gid.team/
#  URL: https://jira-new.gid.team/
  username: plalexeev
  # Must be provided securely, e.g. by env variable JIRA_PASSWORD
#  password:
