groups:

- name: BI
  rules:
    - alert: DataTest0
      # Docs:
      # 1. https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/
      # 2. https://prometheus.io/docs/practices/rules/#recording-rules
      expr: 'promhttp_metric_handler_requests_total > 1'
#      for: 10s
      labels:
        severity: warning
        qaz1: qwerty some
        jira__severity: High
        jira__assignee: plalexeev
        value: '{{$value}}'
      annotations:
        qwerty: qaz
        summary: DataTest0 summary
        description: |
          Some description QAZ2
          of DataTest0 alert
          VALUE: {{$value}}

    - alert: DataTest1
      expr: 'promhttp_metric_handler_requests_total > 1'
#      for: 10s
      labels:
        severity: warning
        qaz1: qwerty some
        jira__severity: High
        jira__assignee: plalexeev
      annotations:
        summary: DataTest1 summary
        description: |
          Some description QAZ2
          of DataTest1 alert
        qaz: qwerty1
